# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDE/editor files
.vscode/
*.swp

# OS files
.DS_Store
